[Unit]
Description = photobooth
 
[Service]
WorkingDirectory = /opt/photobooth/src
ExecStartPre= 
ExecStart = /bin/python2 photobooth.py
Restart = on-failure
RestartSec = 15

[Install]
WantedBy = default.target
