[Unit]
Description = Photobooth
 
[Service]
WorkingDirectory = /opt/Photobooth/src
ExecStart = /bin/python2 photobooth.py

[Install]
WantedBy = multi-user.target
